.canvas-container {

}

.canvas {
  
  &-controller {
    position: absolute;
    z-index: 3;
  }

  &-chess {
    position: absolute;
    z-index: 2;
  }

  &-board {
    z-index: 1;
    position: relative;
  }
}